#  Q1 print a given string as per started format**

In [ ]:
print("data-science-mentorshop-program-started-by-campusx")

data-science-mentorshop-program-started-by-campusx

# **Q2 write a program that will convert celcius value to fehrenheit.**

In [ ]:
# f=c*9/5 +32
celcius=int(input("Enter the value of Celcius"))
fahrenheit= ((celcius*9)/5) +32
print("celcius vlaue to farhenhiet",fahrenheit)

Enter the value of Celcius43
celcius vlaue to farhenhiet 109.4

# Q3 take to number as a input from the user .write a program to swap the numbers without using any special pyrhon sntax

In [ ]:
# a= int(input("Enter the first number"))
# b= int(input("Enter the second number"))

# a,b= b,a
# print("second number",a)
# print("first number", b)

x= int(input("Enter the first number"))
y= int(input("Enter the second number"))

empty= x
x=y
y=empty

print(x,y)

Enter the first number12
Enter the second number23
23 12

# **Q4 write  a program to find the elucidean distance betweeen two coordinates .take both the  cordinate form the user as input.**

In [ ]:
import math

x1=78
x2=23
y1=56
y2=234

result= math.sqrt((x2-x1)**2 + (y2-y1)**2 )
print(result)

121.0

In [ ]:
x1=78
x2=23
y1=56
y2=234

result2= ((x2-x1)**2 + (y2-y1)**2)**0.5

print(round(result2,3))

186.304

#  Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.**

In [ ]:
Principal= int(input("Enter the Principal Amount"))
RateOfInterest= int(input("Enter the interest amount"))
Time= int(input("Enter the Time period"))


result= (Principal*RateOfInterest*Time)/100
print(result)

Enter the Principal Amount10000
Enter the interest amount5
Enter the Time period2
1000.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
heads = 10
legs = 28

# Using equations:
# x + y = heads
# 4x + 2y = legs

# Solve:
x = (legs - 2 * heads) // 2  # Dogs
y = heads - x                # Chickens

print("Dogs: ", x)
print("Chickens: ", y)

Dogs:  4
Chickens:  6

### Q7:- Write a program to find the sum of  first n natural numbers where n will be provided by the user.

In [ ]:
# formula= (a(a+1))/2

sum= int(input("Enter the first n natural number"))

result= (sum*(sum+1))/2
print("First N natural number Sum: ",result)

Enter the first n natural number10
First N natural number Sum:  55.0

In [ ]:
sum= int(input("Enter the first n natural number"))

count=0
for i in range(sum+1):
  count= count+i

print("First N natural number Sum: ",count)

Enter the first n natural number10
First N natural number Sum:  55

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# n(n+1)(2n+1)/6
a= int(input("Enter first nth  term sum of square"))

result= a*(a+1)*(2*(a)+1)/6

print(result)

Enter first nth  term sum of square5
55.0

In [ ]:
a= int(input("Enter first nth  term sum of square"))
sum=0
for i in range(a+1):
  sum= sum + i*i
print(sum)

Enter first nth  term sum of square5
55

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# formula:  a + (n - 1) * d
a= int(input("Enter first a term"))
a1=int(input("Enter second a term"))

n= int(input("Enter nth term"))

diffrence= a1-a

result= a+(n - 1) * diffrence
print(result)

Enter first a term3
Enter second a term6
Enter nth term5
15

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
num1= 12
denom1= 3
num2= 16
denom2= 4


result= int((num1*denom2  + num2 * denom1) / (denom1* denom2))
print(result)

8

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [17]:
lt=int(input("Enter the lenght"))
bt=int(input("Enter the bredth"))
ht=int(input("Enter the height"))
gh=int(input("Enter the glass of Height"));
radius=int(input("Enter the radius of glass"));

volumeOfTank= ht*lt*bt


volumeOfglass= (3.14*(radius**2))*gh


result=  volumeOfTank/volumeOfglass
print("No of glass field: ",int(result))

Enter the lenght10
Enter the bredth19
Enter the height10
Enter the glass of Height5
Enter the radius of glass2
No of glass field:  30